* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
}

body {
    background: #164165 center fixed;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #164165,#61c7ee) center fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,#164165,#61c7ee) center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// #global-bg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: url('/img/top_bg.jpg') center fixed;
//     background-repeat-y: no-repeat;
//     z-index: -1;
// }

input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus{
    outline: none;
}

textarea{
    width: 100%;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
