* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

body {
    background: url('/img/top_bg.jpg') center fixed;
    background-color: #222;
    background-repeat-y: no-repeat;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus{
    outline: none;
}

textarea{
    width: 100%;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
