.nav-bottom {
    position: fixed;
    bottom: 40px;
    right: 40px;
    list-style: none;
    text-align: center;

    .nav-bottom-item {
        margin-bottom: 20px;
        background: rgba(200,200,200,.2);
        padding: 10px;
        border-radius: 50%;

        a {
            text-decoration: none;
            color: #1a476c;

            &:hover {
                color: #FFF;
            }
        }

        .iconfont {
            font-size: 36px;
        }
    }
}

.site-subheader{
    height: 100px;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .user-info {
        margin: 0;
        width: auto;
    }
}
