<footer class="footer">
    <div class="">
        <p>alonehover</p>
    </div>
</footer>
<script src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js" charset="utf-8"></script>
<script src="/script/common.js" charset="utf-8"></script>
</body>
</html>
