<footer class="footer">
    <div class="container">
        <p>Author: alonehover</p>
        <p>github: github.com/alonehover </p>
    </div>
</footer>
<script src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js" charset="utf-8"></script>
<script src="/script/common.js" charset="utf-8"></script>
</body>
</html>
