<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">home</a></span>
<% if (user) { %>
    <span>User: <%= user.name %></span>
    <span><a title="发表" href="/post">Add</a></span>
    <span><a title="登出" href="/logout">logout</a></span>
<% } else { %>
    <span><a title="登录" href="/login">login</a></span>
    <span><a title="注册" href="/reg">register</a></span>
<% } %>
</nav>

<article>

<% if (flash) { %>
  <div style="color:red"><%= flash %></div>
<% } %>
