<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/markdown.css" rel="stylesheet"></link>
</head>
<body>
<%- include nav %>
<% if (flash) { %>
  <div class="container" style="color:red"><%= flash %></div>
<% } %>
