<%- include header %>

<% if (list) { %>
    <% for (var i = 0; i < list.length; i++){ %>
        <div><a href="/post/<%= list[i]._id %>"><%= list[i].title %></a></div>
    <% } %>
<% }else { %>
    <a href="/post">添加文章</a>
<% } %>

<%- include footer %>
