<%- include header %>

<% if (list.length > 0) { %>
    <% for (var i = 0; i < list.length; i++){ %>
        <div><a href="/post/<%= list[i]._id %>"><%= list[i].title %></a></div>
    <% } %>
<% }else { %>
    还木有文章～～～
<% } %>

<%- include footer %>
