<header class="black site-header">
    <div class="nav-content">
        <div class="container overflow">
            <% if (user) { %>
            <div class="user-info">
                <div class="nav-item"><%= user.name %></div>
                <div class="nav-item"><a title="登出" href="/logout">logout</a></div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="site-title"><img class="site-title-img" src="/img/logo.png" alt=""></div>
</header>
