<%- include ../common/header %>

<% if (user) { %>
<%- include ../common/nav_sub %>
<% } %>

<div>
    <form id="articleForm" class="form article-edit" method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="title" id="" placeholder="文章名称">
        </div>

        <input id="content" type="hidden" name="content" value=""></textarea>

        <div id="editor" class="form-control article-text"></div>
    </form>
    
    <div class="form-group">
        <button class="btn" name="button" onclick="toSubmit()">提交</button>     
    </div>
</div>

<script src="/ace/ace.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    var toSubmit = function() {
        $("#content").val(editor.getValue())
        $("#articleForm").submit()
    }
</script>

<%- include ../common/footer %>
