<%- include ../common/header %>

<div class="container">
    <form id="articleForm" class="form article-edit" method="post">
        <div class="">
            <input class="form-control edit-title" type="text" name="title" id="" placeholder="文章名称" value="">
        </div>
        <div class="nav-editor">
            <button class="btn" name="button" onclick="toSubmit()">Publish</button>
        </div>
        <div class="">
            <input id="content" type="hidden" name="content" value=""></textarea>
            <div id="editor" class="form-control edit-content"></div>
        </div>
    </form>
</div>

<%- include ../common/footer %>

<script src="/ace/ace.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    // editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setTabSize(4);

    var toSubmit = function(e) {
        $("#content").val(editor.getValue())
        $("#articleForm").submit()
    }

    $(function() {
        var editor_height = window.innerHeight;
        $("#editor").height(editor_height - 120);
    })
</script>
