<header class="black site-subheader">
    <div class="nav-item">
        <a href="/">小屋</a>
    </div>
    <% if (user) { %>
    <div class="user-info">
        <div class="nav-item"><%= user.name %></div>
        <div class="nav-item"><a title="登出" href="/logout">logout</a></div>
    </div>
    <% } %>
</header>
