html
    head
        title= title + " - 云沐"
        meta(charset="utf-8")
        meta(name="baidu-site-verification", content="z8GHTmFsrt")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        meta(name="description", content=description || "云沐")
        meta(name="author", content="云沐")
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet", href="//at.alicdn.com/t/font_359213_w59gad5pgfirudi.css")
        link(rel='shortcut icon', type='image/x-icon', href="/favicon.ico")
        block css
        script.
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?d1888ee1d5243ac79c7829fc04ca4936";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
    body        
        block main
            include home/home
        
        ul.nav-bottom
            li.nav-bottom-item
                a(href="/")
                    i.iconfont.icon-home
            if user
                li.nav-bottom-item
                    a(href="/post")
                        i.iconfont.icon-create
                li.nav-bottom-item
                    a(href="/signout")
                        i.iconfont.icon-signout
        script(src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js")
        script.
            $(function() {
                window.message = function() {
                    var message = $("#message")
                    message.addClass("active");
                    var msg = setTimeout(function() {
                        message.removeClass("active");
                    }, 3000)
                };
                var flash = "#{flash}"
                if(!!flash) {
                    window.message();
                }
            });
        block script
        include common/message
